html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
